
<h2 class="page-header">New Player</h2>
<form action ="/players" method="POST"> 

    <label> Name </label>
    <input type = "text" name="name">
    <br> 
    <label> Club </label>
    <input type = "text" name="club" >
    <br> 
    <label> Position </label>
    <input type = "text" name="position">
    <br> 
    <label> Nationality </label>
    <input type = "text" name="nationality" >
    <br> 
    <label> Age </label>
    <input type = "text" name="age">
<div class="form-row form-row-end btn-row">
<a class="btn btn-danger" href="/players">Cancel</a>
<button class="btn btn-primary" button type = "submit">Submit</button class="btn btn-primary" button>
</div>
</form>