<header> 
        <nav class="header-nav"> 
        <a class="header-title" href="/"> Mercato</a>
    <ul> 
        <li><a href="/players"> players</a> </li>
        <li><a href="/players/new"> new players</a> </li>
    </ul>
    </nav>
</header> 

